<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Titulní stránka</title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>

<div class="navigation">
    <a class="logo" href="/">IntelliHouse</a>
    <ul>
        <li><a href="/rooms">Místnosti</a></li>
        <li><a href="/statistics">Statistiky</a></li>
    </ul>
</div>

<div class="content">
    <h3>Vítejte v aplikaci IntelliHouse</h3>

    <p>Aplikace IntelliHouse je IS pro správu inteligentního domu.</p>
</div>
    
</body>
</html>