<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Statistiky</title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>

<div class="navigation">
    <a class="logo" href="/">IntelliHouse</a>
    <ul>
        <li><a href="/rooms">Místnosti</a></li>
        <li><a href="/statistics" class="selectedCard">Statistiky</a></li>
    </ul>
</div>

<div class="statistics">
    <p>ahooooooooooj</p> 
</div>
    
</body>
</html>