:root {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;

    --main-color: #013243;
    --secondary-color: #9ea4a8;
    --selected-color: #1e8bc3;

    --navigation-height: 60px;
    --aside-btn-height: 40px;
    --body-width: 750px;
    --aside-width: 250px;
}
body {
    margin: 0 auto;
    padding: 0;
    width: var(--body-width);
    line-height: 1.5;
    color: var(--main-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h2 {
    font-size: 1.5em;
    font-weight: 500;
}
.invisible {
    display: none;
}
/* INDEX */
.index {
    padding: 0 50px 0 50px;
    height: calc(100vh - var(--navigation-height));
}
.index h2 {
    text-align: center;
}

/* NAVIGATION */
.navigation {
    background: var(--main-color);
    height: var(--navigation-height);
}
.navigation ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.navigation a {
    float: left;
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    padding: 5px;
    margin-left: 6px;
    line-height: calc(var(--navigation-height) - 2 * 5px);    
}
.navigation a:hover, .navigation .selectedCard {
    background: var(--selected-color);
}
.navigation .logo, .navigation .logo:hover {
    letter-spacing: 0;
    float: right;
    font-weight: 700;
    font-size: 1.75em;
    background: var(--main-color);
    padding: 0 10px;
    margin-right: 10px;
    line-height: var(--navigation-height);
}

/* ASIDE */
.aside {
    float: left;
}
.aside .rooms {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: var(--aside-width);
    height: calc(100vh - var(--navigation-height) - var(--aside-btn-height));
    overflow-y: scroll;
}
  
.aside .rooms a {
    display: block;
    color: var(--main-color);
    text-decoration: none;
    padding: 8px 16px;
}
  
.aside .rooms a:hover {
    background-color: var(--secondary-color);
    color: white;
}
.aside .rooms .selectedRoom {
    background-color: var(--secondary-color);
    color: white;
    border-left: 5px solid var(--selected-color);
}
.aside .buttons {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.aside .buttons li {
    float: left;
    font-size: 1.5em;
}
.aside .buttons a {
    background: var(--secondary-color);
    color: var(--main-color);
    text-decoration: none;
    text-align: center;
    border-top: 1px solid var(--main-color);
    border-right: 1px solid var(--main-color);
    display: block;
    width: calc(var(--aside-width) / 2 - 1px);
    line-height: calc(var(--aside-btn-height) - 1px);
    cursor: pointer;
}

.aside .buttons a:hover {
    background: #b8bfc3;
}

/* DETAILS */
.details {
    padding: 0 15px;
    display: table;
    width: calc(var(--body-width) - var(--aside-width) - 2 * 15px);
    height: calc(100vh - var(--navigation-height));
}
.details .width-fifty {
    display: inline-block;
    width: 49%;
}
.details h2 {
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
    background: var(--secondary-color);
    color: white;
}
.details p, .details div {
    margin: 15px;
    text-align: left;
}
.details button {
    font-size: 0.8em;
    font-weight: 600;
    border: 2px solid var(--secondary-color);
    cursor: pointer;
    padding: 4px 10px;
    background-color: var(--secondary-color);
    color: white;
    letter-spacing: 1px;
    margin-left: 3px;
}
.details button:hover:not(.radioBtn) {
    opacity: 0.8;
}
.details .radioBtn {
    font-size: 0.8em;
    font-weight: 600;
    border-radius: 5px;
    background-color: white;
    border: 2px solid var(--secondary-color);
    padding: 5px 10px;
    letter-spacing: 1px;
    color: var(--secondary-color);
    outline: none;
    cursor: pointer;
}
.details .radioBtn:hover {
    color: white;
    background-color: var(--secondary-color);
}
.details .radioBtn.active {
    color: white;
    background-color: var(--secondary-color);
    cursor: auto;
}
.details input[type=range] {
    -webkit-appearance: none;
    width: 170px;
    height: 15px;
    margin: 7px 0px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
}
.details input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%; 
    background: var(--secondary-color);
    cursor: pointer;
}
.details input[type=range]::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}
.details table {
    text-align: center;
    margin-top: 10px;
}
.details table th, .details table td {
    width: 40px;
    height: 30px;
    border: 1px solid var(--main-color);
}
.details a {
    margin-top: 7px;
    float: right;
    color: red;
    text-decoration: none;
}
.details input[type=text] {
    font-size: 0.8em;
    border: 2px solid var(--secondary-color);
    margin-top: 10px;
    padding: 4px 10px;
}
.details input[type=text]:focus {
    outline: none;
    border: 2px solid var(--selected-color);
}

/* STATISTICS */
.statistics {
    padding-left: 50px;
    padding-right: 50px;
    min-height: calc(100vh - var(--navigation-height));
}