<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Titulní stránka</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>

<div class="navigation">
    <a class="logo" href="/">IntelliHouse</a>
    <ul>
        <li><a href="/rooms">Místnosti</a></li>
        <li><a href="/statistics">Statistiky</a></li>
    </ul>
</div>

<div class="index">
    <h2>Vítejte v aplikaci IntelliHouse</h2>

    <p>IntelliHouse je IS pro správu inteligentního domu.</p>

    <p>Umožňuje sledovat teplotu jednotlivých místností v domě a ovládat
       světla a termostat. Navíc tyto údaje zaznamenává v čase a zobrazuje
       přehledné statistiky.  
    </p>

    <p>Začněte kliknutím na kartu Místnosti nebo Statistiky v horní
       navigační liště.
    </p>
</div>
    
</body>
</html>