body {
    height: 100%;
    margin: 0 auto;
    padding: 0;
    width: 850px;
    overflow-x: hidden;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 150%;
    color: #013243;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.invisible {
    display: none;
}

/* NAVIGATION */
.navigation {
    background: #013243;
    height: 60px;
}
.navigation ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.navigation ul li a {
    float: left;
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    padding: 5px;
    margin-left: 6px;
    line-height: 50px;    
}
.navigation a:hover, .navigation .selectedCard {
    background: #1e8bc3;
}
.navigation .logo, .navigation .logo:hover {
    float: right;
    text-decoration: none;
    font-weight: 700;
    font-style: normal;
    color: white;
    background: #013243;
    padding: 0 10px;
    margin-right: 10px;
    line-height: 60px;
    font-size: 25px;
}

/* CONTENT */
.content {
    padding-left: 50px;
    padding-right: 50px;
    min-height: calc(100vh - 40px);
}
.content h3 {
    text-align: center;
}

/* ASIDE */
.aside {
    float: left;
}
.aside .rooms {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 95%;
    width: 300px;
    min-height: calc(100vh - 100px);
    max-height: calc(100vh - 100px);
    overflow-y: scroll;
}
  
.aside .rooms li a {
    cursor: pointer;
    display: block;
    color: #013243;
    text-decoration: none;
    padding: 8px 16px;
}
  
.aside .rooms li a:hover {
    background-color: #9ea4a8;
    color: white;
}
.aside .rooms .selectedRoom {
    background-color: #9ea4a8;
    color: white;
    border-right: 5px solid #1e8bc3;
}
.aside .buttons {
    margin: 0;
    padding: 0;
    list-style-type: none;
    cursor: pointer;
    font-size: 18px;
}
.aside .buttons li a {
    float: left;
    background: #9ea4a8;
    font-size: larger;
    color: #013243;
    text-decoration: none;
    vertical-align: center;
    text-align: center;
    border-top: 1px solid #013243;
    border-right: 1px solid #013243;
    padding: 0;
    margin: 0;
    width: 149px;
    line-height: 39px;
}

.aside .buttons li a:hover {
    background: #b8bfc3;
}

/* DETAILS */
.details {
    margin: 0 auto;
    display: table;
    font-weight: 100;
    width: 480px;
    min-height: calc(100vh - 40px);
}
.details .col-45 {
    display: inline-block;
    width: 50%;
}
.details h2 {
    text-align: center;
    background: #9ea4a8;
    font-size: 20px;
    color: white;
    font-weight: 500;
    padding: 5px 0;
}
.details h3 {
    text-align: center;
    font-size: 20px;
    color: #013243;
    font-weight: 500;
    padding: 5px 0;
}
.details p, .details div {
    margin: 15px;
    text-align: left;
}
.details button {
    border: none;
    border-radius: 5px;
    background-color: white;
    border: 2px solid #9ea4a8;
    padding: 5px 10px;
    letter-spacing: 1px;
    color: #9ea4a8;
    font-weight: 600;
    outline: none;
    cursor: pointer;
}
.details button:hover {
    color: white;
    background-color: #9ea4a8;
}
.details .active {
    color: white;
    background-color: #9ea4a8;
    cursor: auto;
}
.details input[type=range] {
    -webkit-appearance: none;
    width: 170px;
    height: 15px;
    margin: 7px 0px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.details input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #9ea4a8;
    cursor: pointer;
}
.details input[type=range]::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #9ea4a8;
    cursor: pointer;
}
.details table {
    text-align: center;
    margin-top: 10px;
}
.details table th, .details table td {
    width: 40px;
    height: 30px;
    border: 1px solid #013243;
}
.details a {
    margin-top: 7px;
    float: right;
    color: #1e8bc3;
    text-decoration: none;
}

/* STATISTICS */
.statistics {
    padding-left: 50px;
    padding-right: 50px;
    min-height: calc(100vh - 40px);
}
.statistics h3 {
    text-align: center;
}